body{
  background-color: black;
  background-image: url('https://pre00.deviantart.net/da7f/th/pre/i/2013/012/e/b/another_tron_type_floor_by_taz09-d5rbmoq.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
}

#tron-title{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
}

.game-instructions{
  color: white;
  width: 500px;
  height: 200px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
}

.instructions-title{
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
}

.player-lives{
  display: flex;
  color: white;
  justify-content: space-around;
  width: 1300px;
  margin: 100px auto 5px auto;
}

#player1-lives, #player2-lives{
  margin-bottom: 2px;
  margin-left: 5px;
}

.score-section{
  display: flex;
  width: 65px;
  justify-content: space-between;
}

.scores{
  margin-top: 1px;
}

#game {
  border: 1px dashed white;
  margin: auto;
  display: block;
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 200px;
  background-image: url('https://s15.postimg.cc/5buc4geej/composite-grid.jpg');
  background-size: cover;
}

.tally-div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

#tron-button{
  background-color: red;
  color: yellow;
  height: 50px;
  width: 130px;
  margin-top: 0;
  position: relative;
  bottom: 90px;
  font-size: 1.5rem;
}

.button-section{
  display: flex;
  justify-content: center;
  margin-top: 0;
  height: 50px;
}

.lives-text{
  color: red;
}

.score-text{
  color: yellow;
}

@media(min-width: 1269px){
/*
  .player-lives{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 740px;
    position: relative;
    left: 29rem;
    top: 11rem;
  }*/

}
